[submodule "escrow-project"]
	path = escrow-project
	url = https://github.com/AtlasHODL/escrow-project
[submodule "anchor-vault-q3-rust"]
	path = anchor-vault-q3-rust
	url = https://github.com/AtlasHODL/anchor-vault-q3-rust
[submodule "amm"]
	path = amm
	url = https://github.com/AtlasHODL/amm
[submodule "nftstaking"]
	path = nftstaking
	url = https://github.com/AtlasHODL/nftstaking
[submodule "marketplace_nft"]
	path = marketplace_nft
	url = https://github.com/AtlasHODL/marketplace_nft
